<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Simple.Data.SqlAnywhereTest.Properties.Settings.ConnectionString"
        connectionString="eng=Simple.Data;uid=dba;pwd=sql" providerName="iAnywhere.Data.SqlAnywhere" />
    <add name="Test" connectionString="eng=Simple.Data;uid=dba;pwd=sql"
        providerName="iAnywhere.Data.SqlAnywhere" />
  </connectionStrings>
</configuration>
